<template>
  <main class="hbkv-view--products" v-cloak>
    <div class="hbkv-view__side">
      <shelf :title="labelCategories">
        <nav class="hbkv-nav">
          <router-link class="hbkv-nav__link"
            :to="{name: 'products', params: { categoryId: item.Id }}"
            v-for="item in viewModel.Categories" :key="item.Id" exact>
            {{item.Name}} <small>({{item.Count}})</small>
          </router-link>
        </nav>
      </shelf>
      <shelf :title="attribute.Name" hideable hidden v-for="attribute in viewModel.Attributes">
        <nav class="hbkv-nav">
          <router-link class="hbkv-nav__link"
            :to="{name: 'products', params: { filters: tag.QueryValue}}"
            v-for="tag in attribute.Tags" :key="tag.Id">
            {{tag.Name}} <small>({{tag.Count}})</small>
          </router-link>
        </nav>
      </shelf>
      <shelf :title="labelBrands" hideable hidden>
        <nav class="hbkv-nav">
          <router-link class="hbkv-nav__link"
            :to="{name: 'products', params: { 
              brandId: brand.BrandId
            }}"
            v-for="brand in viewModel.TopBrands" :key="brand.BrandId" exact>
            {{brand.Name}} <small>({{brand.Count}})</small>
          </router-link>
        </nav>
      </shelf>
      <shelf :title="labelShops" hideable hidden>
        <nav class="hbkv-nav">
          <router-link class="hbkv-nav__link"
            :to="{name: 'products', params: { userId: shop.UserId}}"
            v-for="shop in viewModel.TopShops" :key="shop.UserId" exact>
            {{shop.Name}} <small>({{shop.Count}})</small>
          </router-link>
        </nav>
      </shelf>
    </div>
    <div class="hbkv-view__main">
      <h2 class="hbkv-view__header">{{title}} <small v-if="viewModel.NumFound">({{viewModel.NumFound}})</small></h2>
      <product-List :vm="viewModel.Items"></product-list>
    </div>
  </main>
</template>

<script>
import api from 'src/api'
import ProductList from 'components/products/ProductList'
import Shelf from 'components/shared/Shelf'

export default {
  name: 'ProductView',
  props: {
    title: {
      type: String,
      default: 'Produkty'
    }
  },
  data () {
    return {
      labelCategories: 'Kategorie',
      labelBrands: 'Marki',
      labelShops: 'Sklepy',
      loading: false,
      attributes: Array,
      viewModel: Object
    }
  },
  computed: {
    selectedFilters () {
      return []
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    fetchData () {
      this.loading = true
      api.fetchProducts(this.$route.params).then(r => {
        this.viewModel = r.data
        this.loading = false
      })
    }
  },
  watch: {
    $route () {
      this.fetchData()
    }
  },
  components: {
    ProductList,
    Shelf
  }
}
</script>
