<template>
  <ul class="hbkv-tile-list">
    <li class="hbkv-tile-list__item" v-for="product in vm" :key="product.Id">
      <ProductTile :product="product"></ProductTile>
    </li>
  </ul>
</template>
<script>
import ProductTile from 'components/products/ProductTile'

export default {
  name: 'ProductList',
  props: {
    vm: Array
  },
  methods: {
  },
  components: {
    ProductTile
  }
}
</script>
<style lang="scss">
  @import '../../styles/_TileList.scss';
</style>
