<template>
  <div class="hbkv-tile">
    <div class="hbkv-tile__wrap">
      <div class="hbkv-tile__image">
        <img :src="product.ImageUrl" :alt="product.Name" />
      </div>
      <h4 class="hbkv-tile__name" v-text="product.Name"></h4>
      <h5 class="hbkv-tile__price">{{product.Price}} zł</h5>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ProductTile',
    props: {
      product: Object
    }
  }
</script>

<style lang="scss">
  @import '../../styles/_Tile.scss';
</style>
