<template>
  <main class="hbkv-articles-view">

    <div class="hbkv-view__side">
      <shelf :title="'Kategorie'">
        <nav class="hbkv-nav">
            <router-link class="hbkv-nav__link"
              :to="{name: 'articles', params: { categoryId: item.Id }}"
              v-for="item in viewModel.Categories" :key="item.Id" exact>
              {{item.Name}} <small>({{item.Count}})</small>
            </router-link>
        </nav>      
      </shelf>
    </div>

    <div class="hbkv-view__main">
      <ul class="hbkv-tile-list">
        <li class="hbkv-tile-list__item" v-for="item in viewModel.Articles">

          <div class="hbkv-tile">
            <div class="hbkv-tile__wrap">
              <div class="hbkv-tile__image">
                <img :src="item.ImageUrl" :alt="item.Name" />
              </div>
              <h4 class="hbkv-tile__name">{{item.Name}}</h4>
            </div>
          </div>
          
        </li>
      </ul>
    </div>

  </main>
</template>

<script>
import api from 'src/api'
import Shelf from 'components/shared/Shelf'

export default {
  name: 'ArticlesView',
  data () {
    return {
      viewModel: Object,
      loading: false
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    fetchData () {
      this.loading = true
      api.fetchArticles(this.$route.params).then(r => {
        this.viewModel = r.data
        this.loading = false
      })
    }
  },
  watch: {
    $route () {
      this.fetchData()
    }
  },
  components: {
    Shelf
  }
}
</script>

<style lang="scss">
@import '../../styles/_Tile.scss';
</style>
