<template>
  <header class="hbkv-header">
    <div class="hbkv-header__wrap">
      <h1 v-text="title" class="hbkv-header__logo"></h1>
      <ul class="hbkv-list hbkv-header__nav">
        <router-link class="hbkv-list__item"
          tag="li"
          active-class="is-active"
          :to="{name: item.action}"
          v-for="item in navigation">
          <a class="hbkv-list__link">{{item.label}}</a>
        </router-link>
      </ul>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'AppHeader',
    data: function () {
      return {
        title: 'Homebook',
        navigation: [
          {label: 'Inspiracje', action: 'inspirations'},
          {label: 'Produkty', action: 'products'},
          {label: 'Artykuły', action: 'articles'},
          {label: 'Specjaliści', action: 'specialists'},
          {label: 'Forum', action: 'forum'}
        ]
      }
    }
  }
</script>
