<template>
  <div v-if="isLoading" class="hbkv-loader"></div>
</template>
<script>
  export default {
    computed: {
      isLoading () {
        return this.$store.state.loading
      }
    }
  }
</script>
<style lang="scss">
  .hbkv-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    &::after {

    }
  }
</style>