<template>
  <div class="hbkv-shelf">
    <div class="hbkv-shelf__head" v-on:click="changeHiddenState" :class="{ 'is-hideable': hideable}">
      <h3 class="hbkv-shelf__title" v-if="title">{{title}}</h3>
      <span v-if="hideable" class="hbkv-shelf__icon" :class="{'is-hidden': hiddenState}" aria="hidden"></span>
    </div>
    <div class="hbkv-shelf__body" v-if="!hiddenState">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Shelf',
  props: {
    title: String,
    hideable: {
      type: Boolean,
      default: false
    },
    hidden: {
      type: Boolean,
      default: false
    },
    searchable: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      hiddenState: false
    }
  },
  created () {
    if (this.hidden) {
      this.changeHiddenState()
    }
  },
  methods: {
    changeHiddenState () {
      if (this.hideable) {
        this.hiddenState = !this.hiddenState
      }
    }
  },
  watch: {
  }
}
</script>

<style lang="scss">
  .hbkv-shelf {
    position: relative;

    &__title {
      margin: 0;
      flex-grow: 1;
    }

    &__icon {
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      border: 0;
      background: none;
      outline: none;
      cursor: inherit;

      &::after {
        display: block;
        position: relative;
        content: '\276e'; // ❮
        font-weight: 600;
        transform: rotate(-90deg);
        transition: all .2s ease-in-out;
      }
      &.is-hidden::after {
        transform: rotate(0);
      }
    }

    &__head {
      display: flex;
      line-height: 24px;
      padding: 10px;
      margin: 0;
      border-bottom: 1px solid #ccc;

      &.is-hideable {
        user-select: none;
        cursor: pointer;
      }
    }
  }
</style>
