
.hbkv-tile {
  padding: 10px;
  text-align: left;
  height: 100%;
  font-size: 14px;
  line-height: 20px;

  &__wrap {
    height: 100%;
    padding: 4px 4px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }

  &__name {
    margin: 5px 5px 0;
    font-size: inherit;
    line-height: inherit;
  }

  &__price {
    margin: 5px 5px 0;
    font-size: inherit;
    line-height: inherit;
  }

  &__image {
    position: relative;
    padding-top: 79.046%;
    margin-bottom: 10px;

    > img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
    }
  }
}
