<template>
  <div class="hbkv-app">
    <app-header></app-header>
    <div class="hbkv-wrap">
      <app-loader></app-loader>
      <transition>
        <router-view class="hbkv-view"></router-view>
      </transition>
    </div>
    <app-footer></app-footer>
  </div>
</template>
<script>
  import AppHeader from 'components/shared/AppHeader'
  import AppFooter from 'components/shared/AppFooter'
  import AppLoader from 'components/shared/AppLoader'

  export default {
    name: 'App',
    data () {
      return {
        loading: false
      }
    },
    created () {
      this.$on('loading', this.handleLoading)
    },
    methods: {
      handleLoading (e) {
        console.log('loading')
      }
    },
    components: {
      AppHeader,
      AppFooter,
      AppLoader
    }
  }
</script>

<style lang="scss">
  @import '../styles/_App.scss';
  @import '../styles/_TileList.scss';

  * {
    box-sizing: border-box;
  }

  html {
    padding: 0;
  }

  body {
    font: 14px/24px 'Segoe UI', Arial, sans-serif;
    margin: 0;
    color: #333;
    overflow-y: scroll;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  strong, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  [v-cloak] {
    display: none;
  }

  .hbkv-app {
    position: relative;
  }

  .hbkv-wrap {
    position: relative;
  }

  .hbkv-view {
    position: relative;
    max-width: 800px;
    padding: 10px 0;
    margin: 0 auto;
    background-color: #fff;
    display: flex;

    &__header {
      padding: 10px;
      line-height: 24px;
      border-bottom: 1px solid #ccc;
      margin: 0 10px 10px;

      small {
        color: #ccc;
        font-weight: normal;
        vertical-align: top;
      }
    }

    &__main {
      padding: 0 10px;
    }

    &__side {
      width: 25%;
    }

    &__main {
      width: 75%;
    }
  }

  .hbkv-header {
    padding: 10px;
    background-color: #2f7cbd;
    color: #fff;

    a {
      color: inherit;
    }

    &__logo {
      line-height: 40px;
      margin: 0;
    }

    &__wrap {
      width: 800px;
      padding: 0 10px;
      margin: 0 auto;
    }
  }

  .hbkv-nav {
    line-height: 24px;
    padding: 10px;

    small {
      color: #ccc;
    }

    &__link {
      display: block;

      &.is-active {
        font-weight: 600;
      }
    }
  }

  .hbkv-list {
    display: block;

    &__item {
      line-height: 24px;
      display: inline-block;
      margin-right: 10px;
      border-bottom: 2px solid transparent;
      transition: border-color .05s ease-in;

      &:hover,
      &.is-active {
        border-bottom: 2px solid #fff;
      }
    }
  }

  .fade {
    position: absolute;
    top: 0;
    right: 0;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }

</style>
