<template>
  <main class="hbkv-view--inspirations">
    <div class="hbkv-loader" v-if="loading"></div>
    <div class="hbkv-view__side">

      <Shelf :title="'Kategorie:'">
        <nav class="hbkv-nav">
          <router-link class="hbkv-nav__link"
            :to="{name: 'inspirations', params: { categoryId: item.Id }}"
            v-for="item in viewModel.Categories" :key="item.Id" exact>
            {{item.Name}} <small>({{item.Count}})</small>
          </router-link>
        </nav>
      </Shelf>

      <Shelf :title="'Style:'">
        <nav class="hbkv-nav">
          <router-link class="hbkv-nav__link"
            :to="{name: 'inspirations', params: { styleId: style.Id }}"
            v-for="style in viewModel.Styles" :key="style.Id" exact>
            {{style.Name}} <small>({{style.Count}})</small>
          </router-link>
        </nav>
      </Shelf>
    </div>

    <div class="hbkv-view__main">
      <div class="hbkv-tile-controll">
        <div>
          Inspiracji: {{viewModel.TotalPhotosNumber}}
        </div>
      </div>

      <ul class="hbkv-tile-list">
        <li class="hbkv-tile-list__item" v-for="item in viewModel.Photos">
          <div class="hbkv-tile">
            <div class="hbkv-tile__wrap">
              <div class="hbkv-tile__image">
                <img :src="item.ImageUrl" :alt="item.Name" />
              </div>
              <h4 class="hbkv-tile__name">{{item.Name}}</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </main>
</template>

<script>
import api from 'src/api'
import Shelf from 'components/shared/Shelf'

export default {
  name: 'InspirationView',
  data () {
    return {
      viewModel: Object,
      loading: false,
      default () {
        return {
          labelCategory: 'Kategorie:'
        }
      }
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    fetchData () {
      this.loading = true
      api.fetchInspirations(this.$route.params).then(r => {
        this.viewModel = r.data
        this.loading = false
      })
    }
  },
  watch: {
    $route () {
      this.fetchData()
    }
  },
  components: {
    Shelf
  }
}
</script>

<style lang="scss">  
</style>
